<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a href="">
        <i class="fa fa-circle-o"></i>
        <span>Master Data</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/gateway">
              <i class="fa fa-circle-o"></i> Gateway Master</a>
          </li>
          <li>
            <a routerLink="/device">
              <i class="fa fa-circle-o"></i> Device Master</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/dashboard">
          <i class="fa fa-circle-o"></i> <span>GeoLocation Report</span></a>
      </li>
      <li class="treeview">
        <a href="">
        <i class="fa fa-circle-o"></i>
        <span>Reports</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/aqd">
              <i class="fa fa-circle-o"></i> Air Quality Data</a>
          </li>
          <li>
            <a routerLink="/health">
              <i class="fa fa-circle-o"></i> Device Health Data</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="">
        <i class="fa fa-circle-o"></i>
        <span>Analysis</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/aqanalysis">
              <i class="fa fa-circle-o"></i> Air Quality Analysis</a>
          </li>
          <li>
            <a routerLink="/health">
              <i class="fa fa-circle-o"></i> Device Health Data</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>